*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.login_screen{
  background-color: #78adc2;
  height: 100vh;
  width: 100vw; 
  display: flex;

}
.login_leftbox{
  height: 100vh;
  width: 50vw;
  background-color:#5db4d6;

}
.login_rightbox{
  height: 100vh;
  width: 50vw;
  background-color: #5f7e8a;
  

}
.login_box{
  height: 28rem;
  width: 350px;
  background-color: green;

  margin: auto;
 padding: 20px;
 padding-left: 60px;
  margin-top: 110px;
  border-radius: 32px;
  font-size: larger;
}
.field{
  height: 50px;
  width:90%;
  font-size:1.2rem;
  border-radius: 22px;
  cursor: pointer;
}
.login_buttom{
  height: 4rem;
  width: 7rem;
  border-radius: 22px;
  background-color: #5f7e8a;
  cursor: pointer;
}
.button_logout{
  height: 3rem;
  width: 5rem;

  
  font-size: larger;
  border-radius: 22px;
  cursor: pointer;

}
.button_logout:hover{
  background-color: #5f7e8a;


}
.ul{
  
  display: flex;
  gap: 3rem;
 
}
.li{
  color: antiquewhite;
  background-color: #acb3b6;
  height: auto;
  width: auto;

  border-radius: 22px;
  padding: 1rem;
  font-size:1.2rem;
}
 
.user_screen{
  height: auto;
  width: 100vw;
  background-color: rgb(155, 189, 104);
}

.user_nav{
 
  display: flex; gap: 20px;
  height: 15vh;
  width: 100vw;
  background-color: yellowgreen;
 
  align-items: center;
  justify-content: center;
  }
.user_body{
  height:85vh;
  width: 100vw;
  background-color: rgb(175, 134, 134);
  display: flex;



}
.user_left{
  height: 85vh;
  width:25vw;
  background-color: green; 
  padding: 7px;

}
.user_left_box{
  height: 76vh;
 overflow: scroll;
  width: 23vw;
  background-color: red;
  position: fixed;
}
.user_left_box::-webkit-scrollbar {
  display: none;
}
.user_left_box {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
li{
  display: flex;
  gap: 1rem;
  background-color: greenyellow;
  cursor: pointer;
  height: 3.5rem;
  padding-bottom: 7px;
  padding-top: 7px;

  
  
  
}
.name_list{
  font-size: x-large; 
 
  margin-bottom:7px;

}

  

.profile{
  height: 3rem;
  width: 3rem;
  background-color:blue;
  border-radius: 50%; 
  overflow: hidden;

  
}
.profile img{
  height: 3rem;
  width: 3rem;
  
  border-radius: 50%;

}
li:hover{
  background-color: #5f7e8a;
  
}
.user_mid{
  height: 85vh;
  width:49vw;
  background-image:url("./images/welcome.jpg");
  margin-left: 5px;
  padding: 2rem;

  

}


.status{
  height: auto;
  width: 26rem;
  background-color: red;
  align-items: center;
 margin-bottom: 2rem;
  border-radius: 20px;
  padding: 13px;
  display: flex;
  z-index: -3; 
 
}
.board{
  
  height: auto;
  background-color: green;
  font-size:x-large ;
  margin-right: 8px;
  margin-top: 1rem;
  border: 2px solid rgb(89, 0, 255) ;
  
}
.mero{
  height: 2rem;
  width: 2rem;
  margin-bottom: 13rem;
  border: 2px solid rgb(229, 255, 0) ;
  border-radius: 50%;

}
.pict{
  height: 19rem;
  border-radius: 12%;
}


.message_box{
  height: 32rem;
  width:25rem; 
  background-color: bisque;
margin-top: 1rem;
margin-left: 7rem;
display: flex;
flex-direction: column;
z-index: 3; 
position: fixed;






}
.message_head{
  height: 5rem;
  width:100%;
  background-color:#5f7e8a ;
  padding: 0.5rem;
  

 }
 .head_body{
  height: 4rem;
  width: 24rem;
  background-color: aliceblue;
  font-size: x-large;
  display: flex; 
 }
 .message_profile{
  height:4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: brown;
  }
  .message_profile img{
    height:4rem;
    width: 4rem;
    border-radius: 50%;
  }
  .close_div{
    height:4rem;
    width: 7rem;
    background-color: yellow;

  
  }

  .close{
    color: red;
    margin-left: 1rem;
 
    cursor: pointer;
    font-size: larger;
  }
 .message_body{
  margin-top: 8px;
  height: 23.5rem;
  width: 104%;
  background-color: #ce6816;
  overflow-y: scroll;
 

margin-left: -0.5rem;
margin-bottom: 1px;


 }
 .message_left{
  display: flex;
  height:auto;
  width:17rem;
  background-color: blanchedalmond;
  gap: 5px;
  padding: 7px;
  margin-bottom: 9px;
 }
 .other{
  height: max-content;
  
  margin-top: 0.9rem;
  width: fit-content;
  padding: 7px;
  border-radius: 13px;
 
  background-color: red;
 
 
 }
 .message_right{
  display: flex; gap: 5px;
  margin-left: 18rem; 
  padding: 7px;
  
  height: auto;
  width: fit-content;
  background-color: blue;
  margin-bottom: 9px;

 }
 .me{
  margin-top: 0.9rem;
  height: auto;
  padding: 7px;
  
  background-color: green;
  border-radius: 13px;

  
 }
 .message_footer{
  height: 3.3rem;
  width:24.2rem;
  margin-left: -0.3rem;
  padding: 2px;
  background-color: red;
 }
.user_right{
  height: 85vh;
  width:25vw;
  background-color: rgb(15, 101, 172);
margin-left: 10px;

 }
 .input{
  height: 3rem;
  width: 17rem;
  border-radius: 13px;
  padding: 1rem;
  margin-right: 1rem;
 }
.user_right_box{
  height: 80vh;
  width: 20vw;
  /* background-color: aqua; */
 margin-left: 26px;
 margin-top: 17px;
 

  

}
.profile_circle{
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  margin: auto;
  
  background-color:rgb(66, 32, 32);
  
}
.profile_circle img{
 
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
}
h2{
  
  text-align: center;
}
.photo{
  height: 50%;
  width: 80%;
  background-color: #78adc2;
  margin-left: 2rem;
}
.cover{
  height: 307px;
  width: 307px;
  background-color: red;
  border-radius: 50%;
}
.cover img{
  height: 300px;
  width: 300px;
border-radius: 50%;
}
.slide{
 
align-items: center;
justify-content: center;

  

}

.slide video{
 
  height: 300px;
  width:80vw;
 

}
.pic_card{
  height: 20rem;
 
  width: 20rem ;
 
  border-radius: 50%;
  
  
}
.pic{
  height: 15rem;
  width: 15rem;

  

}

